@model IEnumerable<DataAccessLayer.Entity.Parceldetails>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParcelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcelServiceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParcelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParcelServiceName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
